@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  background-color: #dadada;
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #585858;
}
